<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Welcome to Shopping Site</h3>
    <br><h3><a href = "http://localhost:3000/admin/login">Admin Login</a></h3>
    <br><h3><a href = "http://localhost:3000/shopper/login">User Login</a></h3>
    <br><h3><a href = "http://localhost:3000/shopper/new"> Don't have an account? Create Account</a></h3>
  </body>
</html>
